APP_NAME=Metric Tracking
SERVICE_NAME=metric_tracking_service
APP_PORT=6001
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/metric-tracker?schema=public"
REPLICA_DATABASE_URL="postgresql://postgres:postgres@localhost:5433/metric-tracker?schema=public"
TZ=UTC